<VirtualHost *:80>
    ServerName {{ jenkins_domain }}

    ProxyPass         / http://localhost:8080/ nocanon
    ProxyPassReverse  / http://localhost:8080/
    ProxyRequests     Off
    AllowEncodedSlashes NoDecode

    <Proxy *>
        Order deny,allow
        Allow from all
        RequestHeader unset X-Forwarded-User

        RewriteEngine On
        RewriteCond %{LA-U:REMOTE_USER} (.+)
        RewriteRule .* - [E=RU:%1]
        RequestHeader set X-Forwarded-User %{RU}e
    </Proxy>

    <Location /ghprbhook/>
        Order allow,deny
        Allow from all
        AuthType None
        Require all granted
    </Location>

    <Location /github-webhook/>
        Order allow,deny
        Allow from all
        AuthType None
        Require all granted
    </Location>

</VirtualHost>
